.a {
  fill: #fff200;
}

.b {
  font-size: 36.95px;
  font-family: Silom, Silom;
  letter-spacing: 0.25em;
}

.b, .i {
  fill: #fff;
}

.c, .i {
  font-size: 120.47px;
  font-family: NouvelleVague-Black, Nouvelle Vague;
}

.c, .h {
  fill: #231f20;
}

.d {
  letter-spacing: 0.02em;
}

.e {
  letter-spacing: 0.02em;
}

.f {
  letter-spacing: 0.02em;
}

.g {
  letter-spacing: 0.08em;
}
